# Environment variables
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.db
*.sqlite
*.sqlite3
data/*.tmp*
data/chat_history.json
data/knowledge_updates.json
data/permissions.json
data/users.json
data/chunks.json
data/qa_history.json
data/documents.json



# Node / Vite
node_modules/
dist/
dist-ssr/
*.local

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
